<!-- <html>
  <body>
    <form method="POST" action="">
      <h1> 1. Enter flight number </h1>
      <input type="text" name="fnum">
      <h1> 2. Enter customer status </h1>
      <input type="text" name="status">
      <input type="submit" value="add">
    </form>

    {% if fnum is not none %}
      {{fnum}}
      {{status}}
      {{result}}
    {% endif %}

  </body>
</html> -->

<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<style>
#main-flight {
    background-color: 33D1FF;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100vw;
  }
  body,html {
    overflow-x: hidden;
    margin: 0;
  }

  .input {
    background-color: 33D1FF;
    border: 2px solid white;
    border-radius: 20px;
    width: 100%;
    height: 120px;
    text-align = center;
  }
  .gap {
    padding: 40px;
  }

  .text {
    font-size: 20px;
    font-color: white;
  }
  .fill {
    padding: 20px;
  }


</style>
  <body>
    <div id="main-flight">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 gap">
    </div>
    <form method="POST" action="">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 wrapper" align=center>
      <div class ="row" align=center>
      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 fill">
      </div>
      <div class="col-lg-2 col-xl-2 input">
      <p class=text> 1. Enter flight number </p>
      <input type="text" name="fnum">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 fill">
      </div>
      <div class="col-lg-2 col-xl-2 input">
      <p class=text> 2. Enter customer status</p>
      <input type="text" name="status">
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-1 col-xl-1 fill">
      </div>

      </div>
    </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 fill" align=center>
        <input type="submit" value="add">
      </div>
    </form>

    {% if fnum is not none %}
      flight number: {{fnum}}
      status: {{status}}
      result: {{result}}
    {% endif %}
  </div>
  </body>
</html>
