<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <style>
  #main-hero {
      background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100vw;
    }
    body,html {
    	overflow-x: hidden;
    	margin: 0;
    }
    .add {
      background-color: white;
      border-radius: 20px;
      width: 180px;
      margin-top: 30px;
    }
    a {
    text-decoration: none;
  }
  </style>
  <body>


  <div id="main-hero" align="center" style="padding-top: 200px;">
    <div class="add"><a href="http://127.0.0.1:5000/plane" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Add Plane</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/pilot" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Add Pilot</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/flight" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Add Flight</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/flight" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Add Repairs</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/technician" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Add Technician</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/bookflight" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Book Flight</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/listavailable" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Available Seats</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/listrepairs" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Repairs per Plane</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/listyear" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Repairs per Year</a></div>
    <div class="add"><a href="http://127.0.0.1:5000/countstatus" style="text-decoration:none; font-family: 'Roboto', sans-serif; font-size: 20px;">Total Status</a></div>
  </div>
  </body>
</html>
